* {
    margin: 0%;
    padding: 0rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(26, 99, 63, 0.5),
        rgba(114, 56, 104, 0.5)
    );
    align-items: center;
}

.signup-form__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form__top h1 {
    font-size: 12rem;
    text-shadow: 5px 2px;
    text-decoration: underline;
    margin: 4rem 0;
}

.signup-form__top-field {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-form__top-field-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__top-field-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-form__middle-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-form__middel-left-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__middle-left-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__middel-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-form__middle-right-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__middle-right-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-form__bottom-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.signup-form__bottom-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form__bottom-access {
    width: 16px;
}

.signup-form__submit {
    color: white;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


button {
    background-color: rgb(255, 153, 0);
    width: 160px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 2rem;
    margin-bottom: 1rem;
}


label {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem;
}

input {
    width: 500px;
    height: 40px;
    padding: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 18px;
    margin: 0.6rem;
}