* {
    padding: 0rem;
    margin: 0rem;
}

.cta_main {
    width: 100%;
    padding: 2rem;
    background: linear-gradient(
        to top right,
      rgb(143, 158, 180),
      rgb(157, 167, 139),
      rgba(156, 133, 144, 0.877)
    );
    text-decoration: underline;
    text-decoration-color: #AE67FA;
}


.cta_main h1 {
    font-size: 52px;
    margin: 1rem 5rem 1rem 8rem;
}

.cta_main input{
    width: 70%;
    height: 40px;
    margin: 1rem 1.5rem 0rem 5rem;
    padding-left: 1rem;
    font-size: 16px;
    font-weight: bolder;
    background-color: beige;
    border-radius: 2rem;
}

.cta_main button {
    width: 12%;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 2rem;
}


@media screen and (max-width: 720px) {
    .cta_main button {
        width: 16%;
    }
}

@media screen and (max-width: 550px) {

    .cta_main h1 {
        font-size: 24px;
        margin: 2rem;
    }

    .cta_main input {
        width: 70%;
        margin: 0rem 0.4rem 0rem 1rem;
    }

    .cta_main button {
        width: 20%;
        font-size: 15px;
    }
}